 .ui.grid #mob {
    display: none;
}

.ui.grid #web {
    display: block;
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    .ui.grid #mob {
        display: block;
    }

    .ui.grid #web {
        display: none;
    }
  }